
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Fonts
$base-font: sans-serif;
$code-font: Menlo, monospace;

// Font sizes
$base-font-size: 15px;
$small-font-size: 13px;
$code-font-size: 13px;
$h1-font-size: 30px;
$h2-font-size: 27px;
$h3-font-size: 24px;
$h4-font-size: 21px;
$h5-font-size: 18px;

$base-font-weight: normal;

// Colors
$base-color: $oc-gray-9;
$base-lighten-color: $oc-gray-6;

$text-color: $base-color;
$link-color: $oc-blue-8;
$divider-color: $oc-gray-1;

$table-border-color: $oc-gray-2;
$table-background-color: $oc-gray-1;

$blockquote-color: $base-lighten-color;
$blockquote-border-color: $oc-gray-3;

$footnote-link-border-color: $oc-gray-1;
$footnote-link-background-over-color: $oc-gray-1;

$selection-color: $white;
$selection-background-color: rgb(159, 124, 204);

$pagination-color: $oc-gray-6;
$pagination-over-color: $oc-gray-7;

$tag-index-label-color: $base-color;
$tag-index-label-background-color: $oc-gray-2;
$tag-index-count-background-color: $oc-gray-3;

$footer-border-color: $oc-gray-2;
$footer-background-color: $oc-gray-1;

// List
$li-bottom-space: 0.3em;
$li-bullets-width: 1.4em;
$li-line-height: 1.4em;

$ul-bullets-font: sans-serif;
$ul-bullets-font-size: $base-font-size;
$ul-bullets-font-line-height: inherit;
$ul-bullets-right-space: .5em;

$ol-bullets-font: inherit;
$ol-bullets-font-size: $base-font-size;
$ol-bullets-font-line-height: inherit;
$ol-bullets-right-space: .5em;

$li-child-size-ratio: 0.95;

$dt-width: 180px;
$dt-dd-space: 20px;
$dd-position: $dt-width+$dt-dd-space;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}